.dashboard-container {
    width: 100%;
    padding: 20px;
}

.dashboard-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
}

/* Horizontal row layout */
.dashboard-row {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 100px;
    /* cards wrap on small screens */
}

/* Card styling */
.dash-card {
    width: 260px;
    padding: 25px;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.dash-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
}

.card-1 {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
}

.card-2 {
    background: linear-gradient(135deg, #b31217, #e52d27);
}

.card-3 {
    background: linear-gradient(135deg, #11998e, #38ef7d);
}

.card-4 {
    background: linear-gradient(135deg, #ff9966, #ff5e62);
}

.dash-card p {
    font-size: 32px;
    margin-top: 10px;
}

/* Hero Banner */
.hero-banner {
    width: 100%;
    padding: 40px 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;

    background: linear-gradient(135deg, #e3f2fd, #bbdefb);
    border-radius: 15px;

    box-shadow: 0px 6px 20px #0000001f;

}

.hero-banner h1 {
    font-size: 32px;
    font-weight: 700;
    color: #1a237e;
}

.hero-banner p {
    font-size: 18px;
    margin-top: 10px;
    color: #37474f;
}